.meteor-value {
  margin-right: 10px;
  width: 60% !important;
}

.meteor-rows {
  margin: 10px;
  .meteor-row {
    padding: 5px;
    background-color: #eee;
    display: flex;
    & > div {
      flex: 1;
    }
    &:first-of-type {
      border-radius: 3px 3px 0 0;
    }
    &:last-of-type {
      border-radius: 0 0 3px 3px;
    }
    &:nth-child(even) {
      background-color: #f5f5f5;
    }
  }
}
